# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.env/
.venv/

# ==============================
# Medical Imaging Data
# ==============================
*.nii
*.nii.gz
*.nrrd
*.mha
*.mhd

data/
seg_output/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log